body{
    margin:0;
    padding:0;
    font-family:Arial, sans-serif;
    background:#f2f2f2;
}

.container{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.login-box{
    width:350px;
    background:#ffffff;
    padding:35px;
    border-radius:10px;
    box-shadow:0px 0px 15px rgba(0,0,0,0.2);
    text-align:center;
}

.login-box h1{
    margin-bottom:10px;
    color:#333;
    font-size:28px;
}

.login-box p{
    margin-bottom:25px;
    color:gray;
}

input{
    width:100%;
    padding:12px;
    margin-bottom:20px;   /* Username અને Password પછી Space */
    border:1px solid #ccc;
    border-radius:5px;
    font-size:16px;
    box-sizing:border-box;
}

button{
    width:100%;
    padding:12px;
    margin-top:10px;      /* Password અને Login Button વચ્ચે Space */
    background:#007BFF;
    color:white;
    border:none;
    border-radius:5px;
    font-size:16px;
    cursor:pointer;
}

button:hover{
    background:#0056b3;
}